{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<!DOCTYPE html>

<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Ta-Do List</title>
    <meta name='description' content='Ta-Do : To Do List and Tasks Application'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
    <script src="https://kit.fontawesome.com/1eb3152431.js" crossorigin="anonymous"></script>
    
</head>


<body>

    {% if messages %}
        <div class="row">
            <div class="col-12">
                {% for message in messages %}
                <div class="messagealert alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message|safe }}
                </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="container">
        {% block content %}

        {% endblock content %}
    </div>
    
</body>
</html>